{% extends "base.html" %}
{% load static %} 
{% block content %}
  <h2><p style="color:white">Listado de Servicios</p></h2>
  {% for mser in listaServicios %}
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{ mser.imagen.url }}" alt="" style="width: 50%;">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4" >
          <span class="section-heading-lower">{{mser.titulo}}</span>
          <span class="section-heading-upper">{{mser.contenido}}</span>
        </h2>
      </div>
    </div>
  </div>
</section>
  {% endfor %}
  {% endblock content %}