{% extends "base.html" %}
{% load static %} 
{% block content %}
  

 <!-- Heading -->

    <div class="formulario">
      {% if "valido" in request.GET %}
        <p style="color: white;">Se envio su mensaje correctamente, Gracias</p>
      {% endif %}
      {% if "novalido" in request.GET %}
      <p style="color: red;">Ocurrio un Error al enviar su mensaje</p>
    {% endif %}
      {% if form.errors %}
        <p style="color: darkred;">Por favor revisa este campo</p>      
    {% endif %}
    <form action="" method="POST" style="text-align: center;">{% csrf_token %}
      <table style="color: white; margin: 20px auto;">{{form.as_table}}</table>
        <input type="submit" value="Enviar"  style="width: 150px;"/>
    </form>
    </div>

  {% endblock content %}